.create_post {
  h3 {
    text-align: center;
    margin-top: 30px;
  }
  a {
    text-decoration: none;
  }
  div {
    height: 100px;
    line-height: 100px;
    margin: 30px;
    background-color: #d8dfea;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }
}
