.post_card {
  img {
    width: 100%;
    display: block;
  }
  h2 {
    color: purple;
  }
  width: 100%;

  p {
    padding: 10px;
    font-size: 25px;
  }
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #808080;
}

.posts_container {
  display: flex;
}

.posts_container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

body {
  background-color: #d8dfea;
}
